body {
  position: relative;
  .fork-me {
    display: inline-block;
    position: fixed;
    top: -10px;
    right: -10px;
    z-index: 1000;
    // Divide by two for retina.
    width: 149px;
    height: 149px;
    background-image: url("../images/fork-me-right-dusk-blue@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    opacity: 0.5;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 650px) {
      position: absolute;
    }
  }
}
