@mixin fine-bullets {
  list-style: none;
  padding-left: 0.6rem;

  li {
    padding-left: 0.6rem;
    position: relative;

    &:before {
      display: inline-block;
      content: '\2022';
      font-size: 0.6rem;
      width: 0.6rem;
      position: absolute;
      left: -0.6rem;
      line-height: 1.7rem;
    }
  }
}
