.minami .sidebar {
  @media screen and (max-width: 650px) {
    display: none;
  }

  @include card(2);

  // Appearance
  background-color: $sidebar-background-color;
  font-family: $sans-font-family;
  line-height: 1.5rem;

  // Size
  width: $sidebar-width;

  // Position
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;

  // Layout
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 4rem;

  header {
    text-align: center;
    margin-top: $main-top-margin;
    margin-bottom: 1rem;

    img {
      height: $header-height;
      width: auto;
    }
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }

  h1 {
    color: black;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 1.2rem;
  }

  h3 {
    color: $sidebar-class-name-color;
    font-size: 1rem;
  }

  h4 {
    color: $sidebar-group-name-color;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }

  li {
    color: black;
    a {
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    list-style: none;
  }

  >ul {
    width: $sidebar-width - 40px;
    margin: 0 auto;

    &.readme,
    &.main>li {
      margin-bottom: 0.8rem;

      >ul {
        //@include fine-bullets-a;
      }
    }
  }
}
