body .main-container {

  // Layout
  margin-left: $sidebar-width;

  // Base font style.

  .main-column {
    width: 100%;
    max-width: $main-width;
    margin: 0 auto;
  }

  p {

    // Layout
    margin-bottom: 1em;

    // Appearance.
    font-family: $body-font-family;
    color: $body-text-color;
  }

  // Anchors.
  a {
    color: $body-anchor-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Headings.
  h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-family;
    color: $body-title-color;
    font-weight: bold;

    // Don't show anchor coloring in heading.
    a { color: inherit; }
  }

  h1 {
    text-transform: uppercase;
    line-height: $header-height;
    font-size: 2.75rem;
    letter-spacing: 0.125rem;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2em;
  }

  h3.subsection-title {
    color: $subsection-title-color;
    text-transform: uppercase;
    font-family: $title-font-family;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }

  h5 {
    font-style: italic;
    color: $minor-heading-color;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }


  .lodash-methods {
    @include fine-bullets;
  }

  h4, .lodash-method {

    color: $body-text-color;
    font-family: $code-font-family;

    a { color: inherit; }

    .new,
    .comma,
    .parenthesis,
    .member-of,
    .fat-arrow,
    .event-on,
    .optional-bracket {
      color: $function-signature-punctuation-color;
    }

    .type-signature {
      color: $function-signature-return-type-color;
      font-weight: normal;
    }
  }

  // Function signature
  h4 {
    $function-header-height: 3.25rem;

    display: block;
    background-color: $function-signature-background-color;
    position: relative;

    padding: 0 1em;
    margin-bottom: 1em;

    font-size: 1.125rem;
    line-height: $function-header-height;
    height: $function-header-height;
    font-weight: bold;

    .signature {
      // Shitty fix for very long signatures.
      white-space: nowrap;
      overflow-x: auto;
      width: 100%;
      display: block;
    }

    .source-link {

      // Layout
      display: block;
      padding: 2.2rem 0.4rem 0 0.4rem;

      // Position
      position: absolute;
      top: 0; right: 0; bottom: 0;

      // Appearance
      color: $function-signature-source-link-color;
      background-color: $function-signature-background-color;
      font-size: 0.5em;
      line-height: 1em;
      text-align: center;

      &:before {
        @include external-link;
        position: absolute;
        top: 0.6rem;
        left: 0;
        font-size: 1.1rem;
        font-weight: normal;
        line-height: 1.5rem;
        width: 100%;
        text-align: center;
      }
    }
  }

  .method, .lodash-methods {
    margin-bottom: 3rem;
  }

  .item-description {

    font-size: 0.9rem;

    &:before {
      content: '* * *';
      display: block;
      text-align: center;
      font-family: $code-font-family;
      font-size: 1.25rem;
      color: $stars-color;
      margin-bottom: 1rem;
    }
  }
}
