@import 'constants';
@import 'shadow';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'text';
@import 'sidebar';
@import 'source';
@import 'params';
@import 'details';
@import 'sidebar';

html {
  font-size: 15px;
  line-height: 1.56em;
  background-color: $main-background-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
