<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <link rel="icon" href="<?js= subdir ?>images/favicon.ico" />
      <link rel="canonical" href="http://bookshelfjs.org" />
      <title><?js= title ?></title>

      <script src="<?js= subdir ?>scripts/prettify/prettify.js"></script>
      <script src="<?js= subdir ?>scripts/prettify/lang-css.js"></script>
      <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Import fonts from Open Font Library -->
      <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/carlito" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/average-mono" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/noto-serif" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

      <link type="text/css" rel="stylesheet" href="<?js= subdir ?>styles/main.css">
  </head>
  <body class="minami">

    <a class="fork-me" href="https://github.com/tgriesser/bookshelf">
      Fork me on GitHub
    </a>

    <!--
      Not sure what this is.

      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger" class="navicon-button x">
        <div class="navicon"></div>
      </label>

      <label for="nav-trigger" class="overlay"></label>
    -->

    <nav class="sidebar">
      <?js= this.partial('nav-header.tmpl', {subdir: subdir, rootdir: rootdir} ) ?>
      <?js= this.nav ?>
    </nav>

    <div class="main-container <?js= className ?>">
      <div class="main-column">
        <?js if (type === 'Source') { ?>
          <h1 class="page-title"><?js= title ?></h1>
        <?js } ?>

        <?js= content ?>
      </div>

      <footer>
        <div>
          Documentation generated by
          <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
          <?js
            if (
              env.conf.templates &&
              env.conf.templates.default &&
              env.conf.templates.default.includeDate !== false
            ) {
          ?>
            on
          <?js= this.moment().format('MMMM Do YYYY') ?><?js } ?>
        </div>
        <div>
          <a href="https://github.com/aral/fork-me-on-github-retina-ribbons">
            "Fork me on GitHub" ribbon
          </a>
          Copyright © 2013 Aral Balkan
        </div>
      </footer>
    </div>

    <script>prettyPrint();</script>
    <script src="<?js= subdir ?>scripts/linenumber.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bluebird/2.9.24/bluebird.min.js"></script>
    <script src="<?js= subdir ?>assets/knex.min.js"></script>
    <script src="<?js= rootdir ?>build/bookshelf.js"></script>
    <script>
      var knex = Knex({client: 'websql'});
      var bookshelf = Bookshelf(knex);
    </script>

  </body>
</html>
