<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title><?js= title ?> - Documentation</title>

      <script src="scripts/prettify/prettify.js"></script>
      <script src="scripts/prettify/lang-css.js"></script>
      <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Import fonts from Open Font Library -->
      <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/carlito" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/average-mono" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/noto-serif" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

      <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
      <link type="text/css" rel="stylesheet" href="styles/main.css">
  </head>
  <body class="minami">

    <!--
      Not sure what this is.

      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger" class="navicon-button x">
        <div class="navicon"></div>
      </label>

      <label for="nav-trigger" class="overlay"></label>
    -->

    <nav class="sidebar">
      <?js= this.partial('nav-header.tmpl') ?>
      <?js= this.nav ?>
    </nav>

    <div class="main-container">
      <div class="main-column">
        <?js if (title != 'Home') { ?>
          <h1 class="page-title"><?js= title ?></h1>
        <?js } ?>

        <?js= content ?>
      </div>
    </div>

    <footer>
        Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the Minami theme.
    </footer>

    <script>prettyPrint();</script>
    <script src="scripts/linenumber.js"></script>
  </body>
</html>
