<?js
var data = obj;
var self = this;
?>
<li id="<?js= id ?>" class="lodash-method">
  <span class="signature">
    <span class="name"><?js= self.linkto(data.see[0], name) ?></span
    ><span class="arguments-and-return"><?js= data.signature || '' ?></span>
  </span>
</li>
