<?js
  var param = obj;
  var isOptional = param.optional;
?>

<?js if (param.optional) {
?><span class="optional">[</span
><?js }
?><span class="name"><?js= param.name || 'argument' ?></span
><?js if (param.defaultvalue && typeof param.defaultvalue !== 'undefined')
?><span class="default-equals">=</span
><span class="default-value"><?js= param.defaultvalue
?></span><?js if (param.optional) {
?><span class="optional">]</span
><?js } ?>
