<?js
  var tutorial = obj;
  var self = this;
?>

<article class="tutorial">
  <h2 id="<?js= tutorial.longname ?>"><?js= tutorial.title ?></h2>
  <?js= self.generateTutorial(tutorial) ?>
  <?js if (tutorial.children.length) tutorial.children.forEach(function(child) { ?>
    <section class="sections">
      <h3 id="<?js= child.longname ?>"><?js= child.title ?></h3>
      <?js= self.generateTutorial(child) ?>
    </section>
  <?js }); ?>
</article>
